* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  html {
    height: 100%;
    width: 100%;
  }
  

 
  section {
    width: 100%;
    position: relative;
    color: white;
  }

  
  .text-3 {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    color: white;
    width:50%;
    margin-right:90px;
    margin-top:100px;
    
  }

  section h1{
    font-size:30px;
  }
  
  section  p {
    font-size:20px;
    color: white;
  }

  .text-4 {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    color: white;
    width:50%;
    margin-left:90px;
    margin-top:100px;
    
  }

  .text-3 {
    font-size: 100px;
    transition: transform 0.3s ease;
  }
  
  .text-3:hover {
    transform: scale(1.2);
  }

  .text-4 {
    font-size: 100px;
    transition: transform 0.3s ease;
  }
  
  .text-4:hover {
    transform: scale(1.2);
  }

  .tag-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  
  .tag-1 h1 {
    font-size: 60px;
    transition: transform 0.5s ease;
  }
  
  .tag-1 h1:hover {
    transform: scale(1.5);
  }
 
  .footer-column{
    color:black;
    opacity: 0.7;
  }
  

